<!-- location_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>List Location</title>
</head>
<body>
    <h1>地点リスト</h1>
    <a href="{% url 'records:location_create' %}">新たに地点を追加</a>
    
    <form method="get">
        <label for="name">地点名:</label>
        <input type="text" id="location" name="location" value="{{ location_query }}">
        <button type="submit">絞り込み</button>
        <a href="{% url 'records:location_list' %}">リセット</a>
    </form>

    <ul>
        {% for location in locations %}
            <li>
                <a href="{% url 'records:location_detail' location.pk %}">{{ location.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'records:home' %}">ホーム画面へ</a>
</body>
</html>