<!-- record_delete.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Delete Record</title>
    <link rel="stylesheet" href="{% static 'records/records.css' %}">
</head>
<body>
    <div class="container">
        <h1>この採捕記録を本当に削除しますか？</h1>
        <form method="post">
            {% csrf_token %}
            <button type="submit">はい、削除します</button>
            <a href="{% url 'records:location_detail' object.pk %}">いいえ、採捕情報に戻ります</a>
        </form>
        <a href="{% url 'records:home' %}">ホーム画面へ</a>
    </div>
</body>
</html>