<!-- species_list.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>List Species</title>
    <link rel="stylesheet" href="{% static 'records/records.css' %}">
</head>
<body>
    <div class="container">
        <h1>種情報リスト</h1>
        
        <form method="get">
            <label for="name">種名:</label>
            <input type="text" id="name" name="name" value="{{ name_query }}">
            <label for="genus">属:</label>
            <input type="text" id="genus" name="genus" value="{{ genus_query }}">
            <label for="family">科:</label>
            <input type="text" id="family" name="family" value="{{ family_query }}">
            <label for="scientific_name">学名:</label>
            <input type="text" id="scientific_name" name="scientific_name" value="{{ scientific_name_query }}">
            <button type="submit">絞り込み</button>
            <a href="{% url 'records:species_list' %}">リセット</a>
        </form>
        
        <ul>
            {% for species in species %}
                <li>
                    <a href="{% url 'records:species_detail' species.pk %}">{{ species.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'records:species_create' %}">種を追加する</a>
        <a href="{% url 'records:home' %}">ホーム画面へ</a>
    </div>
</body>
</html>