<!-- species_create.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Create Species</title>
    <link rel="stylesheet" href="{% static 'records/records.css' %}">
</head>
<body>
    <div class="container">
        <h1>種情報登録</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">登録</button>
        </form>
        <a href="{% url 'records:species_list' %}">種情報リスト</a><br>
        <a href="{% url 'records:home' %}">ホーム画面へ</a>
    </div>
</body>
</html>