<!-- survey_update.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Update Survey</title>
    <link rel="stylesheet" href="{% static 'records/records.css' %}">
</head>
<body>
    <div class="container">
        <h1>調査日情報を更新</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">更新</button>
        </form>
        <a href="{% url 'records:survey_detail' survey.pk %}">調査日情報に戻る</a><br>
        <a href="{% url 'records:home' %}">ホーム画面へ</a>
    </div>
</body>
</html>