<!-- survey_detail.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Survey</title>
</head>
<body>
    <h2>調査日情報: {{ survey.date }}</h2>
    <p>調査メモ: {{ survey.note }}</p>

    <h3>採捕記録</h3>
    <ul>
        {% for record in records %}
            <li>
                <a href="{% url 'records:record_detail' record.pk %}"></a>
                    {{ record.species.name }} - {{ record.location.name }} - 個体数: {{ record.count }}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'records:survey_update' survey.pk %}">調査日情報を更新</a>
    <a href="{% url 'records:survey_delete' survey.pk %}">調査日情報を削除</a><br>
    <a href="{% url 'records:survey_list' %}">調査日リストに戻る</a><br>
    <a href="{% url 'records:home' %}">ホーム画面へ</a>
</body>
</html>